.text_piezas{
    font-size: 2em;
    color: #000045;
}
.btn-ventas-mayoreo {
    margin-top: 20px;
}

.config_precio_envio {
    display: none;
    margin-top: 20px;
}


.tutulo_compras_en_casa {
    margin-top: 20px;
}

.selector_compras_en_casa {
    margin-top: 20px;
}

.selector_telefono_visible {
    margin-top: 20px;
}
.contenedor-articulo:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(15, 51, 158, 0.1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(15, 51, 158, 0.1);
    box-shadow: 10px 10px 5px 0px rgba(15, 51, 158, 0.1);
}

.categoria_text:hover {
    text-decoration: block !important;
    color: black !important;
}

.pagination > li > a, .pagination > li > span {
    color: white !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background: black !important;
    padding: 7px;
}

.texto_existencia {
    font-size: 1.3em;
}


@media only screen and (max-width: 400px) {
    .productos_sugeridos {
        width: 100%;
    }

    .info_producto {
        width: 285px !important;
    }
}
.contenedor_sugeridos{

}
.img_sugerencia{
    
    width: 250px;
    min-height: 270px;

}
.text_existencia{
    font-size: 1.3em;
    color: #000045;
    font-weight: bold;
}
.tiempo_entrega_promedio{

    letter-spacing: 3px;
    line-height: 1.9em;


}

.informacion_vendedor_descripcion{
    text-transform: uppercase;
    text-justify: auto;
}
.nombre_producto_carrito{
    font-size: 1.5em;
}