.sin_domicilio {
    background: #d20c2f;
}

.entregado {

    background: #033178;
    color: white;
}
.cancelado {

    background: #ff7266;
    color: white;
}

.funny_error_message {
    background: #10094e;
    color: white;
}

.busqueda_mensaje {
    font-size: 2em;
    font-weight: bold;
    color: black;
}

.busqueda_mensaje:hover {
    color: black !important;
}

.busqueda_mensaje_text {
    text-align: center;
}


.encabezado_domicilio, .encabezado_cliente {

}

.contenido_domicilio, .contenido_domicilio {
    background: white;
    padding: 5px;
}

.status_compra {
    background: #071929;


}

.resumen_pago {
    background: #f9fafe;
    border-bottom: 10px solid #00385D;
    border-radius: 6px;

}

.text_precio_producto {
    font-size: 1.5em;
}

.sin_pago {
    color: #c21818;
    font-size: 1.5em;
}

.pago_realizado {
    color: blue;
    font-size: 1.5em;
}

.mxn {
    font-size: 1.6em;
    color: #000060;
    font-weight: bold;
}

.seccion_tipificacion {
    background: white;
}

.global_tipificaciones {
    background: #030d17;
    padding: 5px;
}

.form_edicion_tipo_entrega {
    display: none;
}

.fecha_registro {
    font-size: 1.3em;
}

.media {
    background: yellow;
    padding: 5px;
    margin-top: 2px;
}

.baja {
    background: #d10000;
    color: white;
    margin-top: 2px;
    padding: 5px;
}

.alta {
    background: #032c8d;
    color: white;
    margin-top: 2px;
    padding: 10px;
}

.nula {
    background: red;
    color: white;
    margin-top: 2px;
    padding: 5px;
}

.seccion_recordatorio {
    margin-top: 20px;
}


.contenedor_opciones_pedido div a {
    color: black;
    text-decoration: underline;
}

.compras_en_tiempo {
    border-style: solid;

}

#contenedor_form_usuario {
    display: none;
}

.fm {
    font-size: 1.3em;
    color: #001066;
}
.contenedor_entregado {

    background: #0046c0;
    color: white;
}
.text-utilidad{
    color: #0a1b42;
}
.select_gastos{

    height: 42px;
}
.form_busqueda_pedidos{

    font-weight: bold;
    color: #000000;
}