.img_linea:hover{
    cursor: pointer;
    padding: 10px;
}
.text_horarios {
    background: #011140;
    color: white;
}
.nombre_estacion {

    padding: 10px;
    border-style: solid;
}

.nombre_estacion_punto_encuentro_extra {
    padding: 20px;
    margin-top: 20px;
    border-style: solid;
    font-size: 1.1em;
}

.cargos_por_entrega_extra {
    padding: 20px;
    margin-top: 20px;
    border-style: solid;
    font-size: 1.1em;
}

.text_costo_envio {
    font-size: 1.7em;
    color: #0167c9;
    font-weight: bold
}

.text_costo_envio_gratis {
    font-size: 1.2em;
    color: #0167c9;
    font-weight: bold
}

.nombre_estacion:hover {
    color: blue;
}

.nombre_linea_metro {
    font-weight: bold;
    font-size: 1.5em;
}
.btn_continuar_punto_encuentro {
    display: none;
    margin-top: 20px;
}

.contenedor_fecha_entrega {
    background: red;
}

.titulo_horario_entra {
    background: #005acf;
    padding: 10px;
    color: white;
}
.nombre_linea_metrobus {
    background: #ec1606;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 2em;
}

.input_notas{
    display:none;
}
.filter_g{
    -webkit-filter: grayscale(35%);
}
.bb_hv:hover{
    border-bottom: 2px solid;
}
.nombre_estacion:hover{
    background: #000;
    color: white;
}

.horario_entrega{
    height: 40px!important;
}