.img_linea:hover{
    cursor: pointer;
    padding: 10px;
}
.text_horarios {
    background: #011140;
    color: white;
}
.nombre_estacion {

    padding: 10px;
    border-style: solid;
}

.nombre_estacion_punto_encuentro_extra {
    padding: 20px;
    margin-top: 20px;
    border-style: solid;
    font-size: 1.1em;
}

.cargos_por_entrega_extra {
    padding: 20px;
    margin-top: 20px;
    border-style: solid;
    font-size: 1.1em;
}

.text_costo_envio {
    font-size: 1.7em;
    color: #0167c9;
    font-weight: bold
}

.text_costo_envio_gratis {
    font-size: 1.2em;
    color: #0167c9;
    font-weight: bold
}

.nombre_estacion:hover {
    color: blue;
}

.nombre_linea_metro {
    font-weight: bold;
    font-size: 1.5em;
}
.btn_continuar_punto_encuentro {
    display: none;
    margin-top: 20px;
}

.contenedor_fecha_entrega {
    background: red;
}

.titulo_horario_entra {
    background: #005acf;
    padding: 10px;
    color: white;
}
.nombre_linea_metrobus {
    background: #ec1606;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 2em;
}
.text_agregar_nota{
    color: #021a35;
    font-weight: bold
}
.input_notas{
    display:none;
}
.filter_g{
    -webkit-filter: grayscale(35%);
}
.bb_hv:hover{
    border-bottom: 2px solid;
}
.nombre_estacion:hover{
    background: #000;
    color: white;
}
.input_enid{
    align-self: flex-end;
    position: relative;
    margin-top: 45px;
}
.input_enid input{

    border: none!important;
    border-bottom: solid 1px grey!important;
    height: 40px!important;
    width: 100%;
    appearance: none!important;
    margin: 0;
    -webkit-appearance: none!important;
    outline: none;
}
.input_enid input:hover{

    border: none!important;
    border-bottom: solid 1px grey!important;
}
.input_enid:hover{

    border: none!important;
    border-bottom: solid 1px grey!important;
}


.input_enid input::-webkit-outer-spin-button, -webkit-inner-spin-button{
    -webkit-appearance: none !important;
}
.input_enid input::placeholder{
    color: transparent;

}
.input_enid input::focus{
    outline: none !important;
    -webkit-appearance: none !important;
}
.input_enid label{
    bottom: 0;
    color: silver;
    left: 3px;
    position: absolute;
}
.focused_input {
    color: #000 !important;
    font-weight: bold;
    top: -25px;
    transition: all 1s ease;
    left: 0px !important
}
.input_focus::-webkit-input-placeholder { color: silver!important; }
.input_focus:-moz-placeholder { color: silver!important; }
.input_focus:-ms-input-placeholder { color: silver!important; }
.horario_entrega{
    height: 40px!important;
}