.promedio_num {
    font-size: 2em;
    font-weight: bold;
}

.go-usuario {
    color: #007881;


}

.text_resumen {

    font-size: 1.4em;
    background: black;
    color: white;
    padding: 1px;
}

.pagination > li > a, .pagination > li > span {
    color: white !important;
}

.info_comentarios {
    text-align: center;
}

.contenedor_promedios {
    text-decoration: underline;
    background: #fefefe;
}
	