	.promedio_num{
		font-size: 2em;
		font-weight: bold;
	}
	.go-usuario{
		color: blue; text-decoration: underline;
	}
	.go-usuario:hover{

		background: black;
		color: white!important; 
		padding: 2px;

	}
	.text_resumen{
		font-weight: bold;font-size: 1.1em;
		background: black;
		color: white;
		padding: 1px;
	}
	.pagination > li > a, .pagination > li > span{
		color: white!important;
	}
	.info_comentarios{
		text-align: center;
	}