.btn_social_fb,
.btn_img_social{
  display: inline-block;
}
.btn_social_fb,
.btn_img_social{
  display: inline-block;
}
.btn_social_fb,
.btn_img_social{
  display: inline-block;
}
.btn_social_fb,
.btn_img_social{
  display: inline-block;
}
.btn_social_fb,
.btn_img_social{
  display: inline-block;
}
.btn_social_fb,
.btn_img_social{
  display: inline-block;
}.blue_active{
  background: #0254bd !important;
  padding: 5px;
  color: white;
}
.place_mensaje_mensaje_social{
  background: #0254bd !important;
  padding: 5px;
  color: white;
}
.busqueda_avanzada:hover{
  cursor: pointer;
}.modo_productos:hover{
    cursor: pointer;
}
.modo_servicios:{
  cursor: pointer;
}