.add_categoria {
    width: 100% !important;
}

.button-op {
    background: white;
    color: black;
    border: solid 1px;
    padding: 10px;
    margin-top: 10px;
}

.msj_existencia {
    margin-top: 70px;
}

.tag-add {
    font-size: .8em;
    padding: 5px;
    background: #0054c0;
    color: white;
    border: solid 1px;
}

.tag-add:hover {
    background: black;
}

.sugerencias {
    background: #e9eeff;
    padding: 5px;
}

.agregadas {
    background: #fafdfe;
    padding: 5px;
    border: solid 1px;
    margin-right: 10px;
}