.texto_ventas_titulo{
	font-weight: bold;
	color: black;
}
.url_youtube_alert{
	background: red;
	padding: 10px;
	color: white;
}
.text_articulos_disponibles{
	background: #2a5790 !important;
	padding: 5px;
	color: white;
}
.text_numero_existencia{
	margin-top: 10px;
}
.mjs_articulo_no_disponible{
	background: red;
	padding: 3px;
	color: white;
}
.mensaje_imagenes_visible{
	background: orange;
	padding: 3px;
	color: black;
	font-weight: bold;
	
}
.num_clasificacion:hover{
	cursor: pointer;
	background: blue;
	color: white;
}
.text_deseas_anunciar{
	font-size: 1.3em;
	font-weight: bold;	
	background: #07206b!important;
}
.text_deseas_anunciar{
	font-size: 1em;
	padding: 5px;
	color: white;
	font-weight: bold;	
	background: #07206b!important;
}	
@media only screen and (max-width: 768px) {
	
	.text_deseas_anunciar{
		font-size: 1em;
		padding: 5px;
		color: white;
		font-weight: bold;	
		background: #07206b!important;
	}	
	.btn_siguiente_registrar_servicio{
		width: 100%!important;		
		background: black!important;
		padding: 5px;
		color: white;
		margin-bottom: 50px;

	}
}