.titulo_preferencias{
	font-weight: bold;font-size: 2em;
}
.item_preferencias:hover{
	background: #1d00da;
	color: white;
	cursor: pointer;
}
.selected_clasificacion{
	background: #1d00da!important;
	color: white;
	cursor: pointer;	
}