.clasificacion input[type="radio"] {
    display: none;
}

.clasificacion label {
    color: #d9e3d8;
    font-size: 2.5em;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.clasificacion label:hover,
.clasificacion label:hover~label {
    color: #040e31;
    cursor: pointer;
}

.clasificacion input[type="radio"]:checked~label {
    color: #040e31;
}
